<!-- Toolbar -->
<div class="bod mat-app-background" [class.dark-theme]="isDarked">
  <mat-toolbar color="primary" class="nav">
    <span id="title"> Ang-Weather </span>
    <div>
      <app-theme-switcher (isDark)="isDarked=$event"></app-theme-switcher>
    </div>
  </mat-toolbar>
  
<!-- Content -->

   <router-outlet style="height: auto;" mat-app-background></router-outlet>
   <app-messages></app-messages>
   <h3>Created By Osama Namur</h3>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Created By Osama Namur* * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->