.nav{
  display: flex;
  justify-content: space-between;
}

.bod
{
  height: 100%;
}
 a{
   margin-right: 16px;
 }
h4{
  margin: 24px;
  text-align: center;
}
.appms{
  display: flex;
  justify-content: center;
}
.ttx{
  align-self: center;
  margin: 0;
  padding: 0;
}