.nav{
  display: flex;
  justify-content: space-between;
}

#title{
  font-size: 2em;
  font-weight: 300;
}

.bod
{
  height: auto;
}
 a{
   margin-right: 16px;
 }
h3{
  margin: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.appms{
  display: flex;
  justify-content: center;
}
.ttx{
  align-self: center;
  margin: 0;
  padding: 0;
}