<h2>Search City:</h2>
<div class="content">

  <div class="secs">
    <h3>{{citySearch}}</h3>
    
      <mat-form-field>
        <mat-label>City Name</mat-label>
        <input matInput [(ngModel)]="citySearch">
      </mat-form-field>
    <!--  <input id="citSearch" [(ngModel)]="citySearch"  placeholder="Enter Name"/>
    -->
    
    <button mat-raised-button color="accent" (click)="showSelect()">Get</button>
  </div>

  <div [class.error]="cerror" *ngIf="citySearch === ''">
    <h1>PLease enter your City Name</h1>
  </div>
    <div class="det">
      <div *ngIf="loading" >
        Loading Please waite
      </div>
      <div *ngIf="state" style="width: 100%;">
        <div class="tex" [ngStyle]="{'background-color':state.weather[0].main === 'Rain'? '#455464' : '#ffa600' }">
          <h2>{{state.name}}</h2>
          <h2><span>City ID:</span>{{state.id}}</h2>
          <img *ngIf="state.weather[0].main === 'Rain'" src="../../assets/img/weatherlorerain.gif" alt="weather gif" width="200px;">
          <img *ngIf="state.weather[0].main === 'Clear'" src="../../assets/img/su.gif" alt="weather gif" width="200px;">
          <img *ngIf="state.weather[0].main === 'Clouds'" src="../../assets/img/cl.gif" alt="weather gif" width="200px;">
          <h2 class="desc">{{state.weather[0].description}}</h2>
        </div >
        <div style="display: flex;justify-content: center;color:#455464">
          <div class="carde" >
            <h4 style="width: 70%;height: 100px;text-align: center;margin: 0;padding: 0;font-size: 70pt;font-weight: 100;line-height: 100px;">{{state.main.temp_max}}</h4>
            <div style="display: flex;flex-direction: column;width: 30%;">
                <h4 class="mint">{{state.main.temp_min}}</h4>
                <h4 class="desc">{{state.weather[0].main}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%;text-align: center;">
      <button mat-flat-button color="accent" (click)="goBack()">Go Back</button>
  </div>
  </div>
