<div class="dash">
  <h3>Wellcome to Cities and Weather<br> Angular App</h3>
  <div class="weth">
      <div class="wetit">
        <a mat-stroked-button class="alink" routerLink="/cities">
          
            <h4>City List</h4>
          
        </a>
      </div>
    
      <div class="wetit">
        <a mat-stroked-button routerLink="/search" class="alink">
          
            <h4>Search for City</h4>
          
        </a>
      </div>
  </div>
    <app-todo-lit></app-todo-lit>
</div>